nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='index.html')
        img(src="assets/images/logo.png")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarTogglerDemo01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item.active
                a.nav-link(href='index.html')
                    | Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='news.html') News
            li.nav-item
                a.nav-link(href='about.html') About