extends ../layouts/base

block content
    h1 Hello World

    div(class="container")
        div(class="row")
            div(class="col-xs-12")
                span да
                ul
                    li 1
                    li 2
                    li 3
                ol
                    li Uno
                    li Two
                    li Tre

    table(border="1" cellspacing="5" cellpadding="10")
        tbody
            tr
                td asdads
                td dgfhg
                td cvx
