extends ../layouts/base

block variables
    -var pageTitle = "News"

block content
    h1 News

    .row
        .col-lg-6
            +post-card('Test 1', 'With supporting text below as a natural lead-in to additional content.')
        .col-lg-6
            +post-card('Test 2', 'With supporting text below as a natural lead-in to additional content.')
        .col-lg-6
            +post-card('Test 3', 'With supporting text below as a natural lead-in to additional content.')
        .col-lg-6
            +post-card('Test 4', 'With supporting text below as a natural lead-in to additional content.')
        .col-lg-6
            +post-card('Test 5', 'With supporting text below as a natural lead-in to additional content.')