include ../partials/variables
include ../mixins/mixins

doctype html
html(lang=langHtml)
    head
        include ../partials/head
    body
        include ../partials/header
        .container
            .row
                .col-lg-12.p-4
                    block content
        include ../partials/scripts